includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 6
  paths:
    - src/php
    - src/uninstall.php
  scanFiles:
    - tests/phpstan/bootstrap.php
  ignoreErrors:
    - '#Function wp_register_script_module not found#'
    - '#Function wp_enqueue_script_module not found#'
