includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 6
  paths:
    - src/php
    - src/uninstall.php
  scanFiles:
    - tests/phpstan/bootstrap.php
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Function wp_(register|enqueue)_script_module not found#'
